<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Barber shop Management System</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.bms.security.session.SessionListener</listener-class>
	</listener>


	<!-- Set characterEncoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Set Security Related Filters -->
	<filter>
		<filter-name>securityContextPersistenceFilter</filter-name>
		<filter-class>
			com.bms.security.core.SecurityContextPersistenceFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>securityContextPersistenceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>securityControlFilter</filter-name>
		<filter-class>
			com.bms.security.core.SecurityControlFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>securityControlFilter</filter-name>
		<url-pattern>/1/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>
			com.bms.security.core.LoginFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/1/login</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>logoutFilter</filter-name>
		<filter-class>
			com.bms.security.core.LogoutFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logoutFilter</filter-name>
		<url-pattern>/1/logout</url-pattern>
	</filter-mapping>

	<!-- Set Web Socket Servlet -->
	<servlet>
		<servlet-name>websocket message servlet</servlet-name>
		<servlet-class>com.bms.message.core.MessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>websocket message servlet</servlet-name>
		<url-pattern>/socket_msg</url-pattern>
	</servlet-mapping>

	<!-- Set Jersey Service -->
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.bms</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/1/*</url-pattern>
	</servlet-mapping>

</web-app>
