<script type="text/javascript" src="../scripts/task/task_add.js"></script>
<script type="text/javascript">
$('.form_datetime').datetimepicker({
	format:'yyyy-mm-dd hh:ii:ss',
	autoclose:true,
	startView:2,
	minView:1,
	todayBtn: "linked",
	todayHighlight:true,
	pickerPosition: "bottom-left",
	language:'zh-CN'
});
</script>
<div class="modal-header">
	<button data-dismiss="modal" class="close" type="button"></button>
	<h5>任务详情</h5>
</div>
<div class="modal-body">
	<div class="page-sidebar nav-collapse collapse" style="width:270px;">
		<div class="control-group margin-bottom-10">
			<div class="controls1">
				<input id="task_id" type="hidden" /> <input id="task_gid"
					type="hidden" />
			</div>
		</div>
		<div class="control-group margin-bottom-10">
			<div class="controls1">
				<label class="fl mr10 text-right">标题</label>
				<input id="task_title" type="text" class="input" placeholder="请填写任务标题" />
			</div>
		</div>
		<div class="control-group margin-bottom-10">
			<div class="controls1">
				<label class="fl mr10 text-right">详情</label>
				<textarea id="task_description" rows="2" placeholder="请填写任务详情"></textarea>
			</div>
		</div>
		<div class="control-group margin-bottom-10">
			<div class="controls1">
				<label class="fl mr10 text-right"><i class="icon-bell-alt"></i></label>
				<select id="remind_time" class="input" style="width:115px">
					<option value=15>提前15分钟</option>
					<option value=30>30分钟</option>
					<option value=60>1小时</option>
					<option value=1440>1天</option>
				</select>
			</div>
			<div class="controls1">
				<label class="fl mr10 text-right"><i class="icon-time"></i></label>
				<select id="periodicity" style="width: 87px" onchange="periodicity_change(this)">
					<option value="oncely">不重复</option>
					<option value="daily">每天</option>
					<option value="weekly">每周</option>
					<option value="monthly">每月</option>
					<option value="yearly">每年</option>
				</select>
			</div>
		</div>
		<div id="expire_time_div" class="control-group margin-bottom-10 hide">
			<div class="controls1">
				<div class="input-append date form_datetime">
					<label class="fl mr10 text-right"><i class="icon-calendar"></i></label>
					<input style="width: 193px" id="expire_time" type="text" size="16"
						value="" placeholder="重复结束时间"> <span class="add-on"><i
						class="icon-th"></i></span>
				</div>
			</div>
		</div>
		<div class="control-group margin-bottom-10 hide">
			<div class="controls1">
				<label class="fl mr10 text-right"><i class="icon-user"></i></label>
				<input id="creator" type="text" style="width: 223px"
					placeholder="任务创建者" />
			</div>
		</div>
		<div class="control-group margin-bottom-10">
			<div class="controls1">
				<div class="input-append date form_datetime">
					<label class="fl mr10 text-right"><i class="icon-calendar"></i></label>
					<input style="width: 193px" id="task_start_time" type="text"
						size="16" value="" placeholder="任务开始时间"> <span
						class="add-on"><i class="icon-th"></i></span>
				</div>
			</div>
		</div>
		<div class="control-group margin-bottom-10">
			<div class="controls1">
				<div class="input-append date form_datetime">
					<label class="fl mr10 text-right"><i
						class="icon-calendar-empty"></i></label> <input style="width: 193px"
						id="task_end_time" type="text" size="16" value=""
						placeholder="任务截止时间"> <span class="add-on"><i
						class="icon-th"></i></span>
				</div>
			</div>
		</div>
		<hr class="line">
		<div class="control-group btn_group" style="margin-bottom: 5px">
			<div class="controls1">
				<button type="submit" class="btn btn-success"
					id="btn_task_add_submit">保存</button>
				<button type="submit" class="btn btn-success"
					id="btn_task_edit_submit" onclick="task_edit_submit('all')">修改</button>
				<button type="submit" class="btn btn-success hide" id="subtask_add"
					name="subtask_add" onclick="subtask_add_one_more()">添加子任务</button>
			</div>
		</div>
	</div>
	<div id="subtask_list" class="page-check border-task-large hide">
		<!-- SUBTASK APPEND HERE -->
	</div>
</div>