<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bms.message.persistence.BmpMessageMapper">
	
	<insert id="insertBmpMessage" parameterType="BmpMessage">
		INSERT INTO c_BmpMessage
		(msg_type, msg_content, trigger_time, trigger_event, link, dst_list)
		VALUES
		(#{msg_type}, #{msg_content}, #{trigger_time}, #{trigger_event}, #{link}, #{dst_list})
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>
	
	<update id="updateBmpMessage" parameterType="BmpMessage">
		UPDATE c_BmpMessage
		<set>
			<if test="msg_type != null">msg_type = #{msg_type},</if>
			<if test="msg_content != null">msg_content = #{msg_content},</if>
			<if test="trigger_time != null">trigger_time = #{trigger_time},</if>
			<if test="trigger_event != null">trigger_event = #{trigger_event},</if>
			<if test="link != null">link = #{link},</if>
			<if test="dst_list != null">dst_list = #{dst_list}</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteBmpMessage" parameterType="Integer">
		DELETE FROM c_BmpMessage WHERE id=#{id}
	</delete>

	<select id="queryBmpMessage" parameterType="java.util.Map" resultType="BmpMessage">
		SELECT * FROM c_BmpMessage
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</select>
</mapper>